.main-navbar{
    width: 100%;
    height: 70px;
    display: block;
    .nav-item{
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        background: none;
        margin: 3px 10px;
        font-size: 1.1em;
        font-family: "Oswald",sans-serif;
        cursor: pointer;    
        transition: all 0.4s;
        float: left;
    }
    .nav-item:focus{
        outline: none;
    }
    .main-site-item{
        margin-left: 40px;
    }
    .nav-item:hover{
        border-radius: 15px;
    }
    .contact-item{
        float: right;
        margin-right: 40px;
    }
}
@media screen and (max-width: 424px){
    .main-navbar{
        text-align: center;
        .nav-item{
            float: none;
        }
        .main-site-item{
            margin-left: 0;
        }
        .contact-item{
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 325px){
    .main-navbar{
        height: 150px;
        a{
            color: #000;
            text-decoration: none;
        }
        .contact-item{
            margin: 0;
            width: calc(90% - 20px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    }
}