.welcome-container{
    width: calc(95% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    .short-describe{
        width: calc(60% - 10px);
        padding: 5px;
        display: block;
        margin-left: 1%;
        text-align: center;
        a{
            color: black;
        }
    }
    .right{
        margin-left: 40%;
    }
    .center{
        margin-left: auto;
        margin-right: auto;
    }
    .describe-header{
        width: calc(100% - 30px);
        padding: 15px;
        text-align: center;
        font-size: 1.9em;
        font-family: "Oswald",sans-serif;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }
    .describe-content{
        width: calc(80% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        line-height: 1.7em;
        font-family: "Lato",sans-serif;
    }
}
@media screen and (max-width: 908px){
    .welcome-container{
        .short-describe{
            width: calc(70% - 10px);
        }
        .right{
            margin-left: 30%;
        }
        .describe-content{
            width: calc(90% - 20px);
        }
    }
}
@media screen and (max-width: 723px){
    .welcome-container{
        .short-describe{
            width: calc(90% - 10px);
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
        .right{
            margin-right: auto;
        }
    }
}
@media screen and (max-width: 569px){
    .welcome-container{
        .describe-header{
            font-size: 1.6em;
        }
        .describe-content{
            line-height: 1.5em;
            font-size: 1em;
        }
    }
}
@media screen and (max-width: 434px){
    .welcome-container{
        .short-describe{
            width: calc(100% - 10px);
        }
        .describe-header{
            font-size: 1.2em;
        }
        .describe-content{
            width: calc(95% - 20px);
        }
    }
}