@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import url("./components/welcome.scss");
@import url("./components/slider.scss");
@import url("./components/contact.scss");

@import url("./components/sub/navbar.scss");

.welcome-header{
    width: calc(100% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.9em;
    font-family: "Oswald",sans-serif;
    margin-bottom: 40px;
}
@media screen and (max-width: 592px){
    .welcome-header{
        font-size: 2.4em;
    }
}
@media screen and (max-width: 469px){
    .welcome-header{
        font-size: 1.7em;
    }
}